
.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Banner section */
.banner {
  background-image: url('assets/Hero-bg.png');
  width: 1340px;
  height: 652px;
  margin: 0 auto;
}

.banner-containt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}
.banner-img{
  margin-top: 26px;
  margin-bottom: 22px;
}
.banner-title{
color: rgb(13, 19, 33);
font-size: 44px;
font-weight: 800;
text-align: center;
}

.banner-description{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
text-align: center;
padding-left: 40px;
padding-right: 40px;
margin-bottom: 30px;
}
.contact-btn{
  border-radius: 8px;
  background: rgb(13, 19, 33);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  padding: 21px 24px 21px 24px; 
}

/* Section one */
.sectio-one{
width: 1040px;
height: 1395px;
margin: 0 auto;
padding: 80px 97px 80px 97px;
margin-top: 100px;
border-radius: 16px;
background: rgba(13, 19, 33, 0.02);
}
.one-div-one{
  margin-bottom: 60px;
}
.one-div-one-title{
color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
text-align: center;
}
.one-div-one-description{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
text-align: center;
}
.one-div-two{
width: 846px;
height: 290px;
padding: 48px;
display: flex;
border-radius: 16px;
background: rgb(255, 255, 255);
margin-bottom: 30px;
}

.one-div-two h3{
color: rgba(13, 19, 33, 0.7);
font-size: 24px;
font-weight: 700;
text-align: left;
padding-bottom: 20px;
}

.one-div-two p {
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
text-align: left;
margin-right: 70px;
padding-bottom: 20px;
}
.btn-learn-more{
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  width: 150px;
  height: 48px;
  color: rgb(13, 19, 33);
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

.one-div-three{
width: 846px;
height: 290px;
padding: 48px;
display: flex;
border-radius: 16px;
background: rgb(255, 255, 255);
margin-bottom: 30px;
}
.one-div-three h3{
color: rgba(13, 19, 33, 0.7);
font-size: 24px;
font-weight: 700;
text-align: left;
padding-bottom: 20px;
}

.one-div-three p{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
text-align: left;
padding-bottom: 20px;
}
.left{
  margin-left: 70px;
}

.one-div-four{
width: 846px;
height: 290px;
padding: 48px;
display: flex;
border-radius: 16px;
background: rgb(255, 255, 255);
}

.one-div-four h3{
color: rgba(13, 19, 33, 0.7);
font-size: 24px;
font-weight: 700;
text-align: left;
padding-bottom: 20px;
}

.one-div-four p {
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
text-align: left;
margin-right: 70px;
padding-bottom: 20px;
}

/* Section two */

.section-two{
width: 1240px;
height: 775px;
margin: 0 auto;
margin-bottom: 100px;
}

.two-div-one{
  margin: 0 100px;
}
.two-div-one h3{
color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
text-align: center;
}
.two-div-one p{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
text-align: center;
}
.two-div-two{
width: 1240px;
height: 614px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 32px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
}

/* Section three */

.section-three h3{
color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
text-align: center;
}
.section-three p{
color: rgb(13, 19, 33);
font-weight: 400;
text-align: center;
}
.three-div-one{
width: 946px;
height: 113px;
margin: 0 auto;
}

.three-div-two{
display: flex;
flex-direction: row;
align-items: center;
gap: 20px;
padding: 20px;
}

.skill{
  width: 314px;
  height: 299px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
}
.skill-title{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
text-align: left;
}

.skill-description {
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
text-align: left;
}
.skill-learn{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 700;
line-height: 19px;
text-align: left;
text-decoration-line: underline;
}

/* Footer */

footer {
  width: 1240px;
  height: 313px;
  background-image: url(assets/handshake.jpg);
  padding: 64px 48px 64px 48px;
  background-color: rgba(0, 0, 0, 0.6);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  margin: 0 auto;
}
.footer-div-one{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 24px 0px;
}

.input {
width: 548px;
height: 57px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
padding: 19px 20px 19px 20px;
margin-left: 300px;
}
.submit{
width: 120px;
height: 57px;
padding: 17px 20px 17px 20px;
border-radius: 8px;
background: rgb(255, 255, 255);
}
nav{
width: 1240px;
height: 100px;
display: flex;
align-items: center;
justify-content: space-between;
margin: 0 auto;
}
nav ul{
  display: flex;
  align-items: center;
}

nav ul li{
  list-style: none;
  margin-right: 30px;
}